@import url('https://fonts.googleapis.com/css2?family=DM+Sans&family=Montserrat&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border-collapse: collapse;
    list-style: none;
    text-decoration: none;
}



html{
    /*font-size: 62.5%*/
}

#carouselExampleIndicators{
    width: 90%;
    margin: 20px auto;
}

#carouselExampleIndicators img{
    object-fit: cover;
}

.login{
    height: auto !important;
    padding: 2rem 0;
}

.login .icones{
    gap: 5px !important;
}

.login input{
    font-size: 14px !important;
}

.login p, .login label, .login a{
    color: white !important;
}

.divider:after,
.divider:before {
    content: "";
    flex: 1;
    height: 1px;
    background: #eee;
}

.h-custom {
    height: calc(100% - 73px);
}

@media (max-width: 450px) {

    .h-custom {
        height: 100%;
    }

    .login p, .login label, .login input{
        font-size: 10px !important;
    }

    .login i{
        font-size: 15px !important;
    }

}

:root{
    --cor-verde: #35a978;
    --cor-cinza: #323637;
    --cor-cinza-claro:#939798;
    --cor-branco: #fff;
    --cor-preto: black;
    --fonte-principal: 'DM Sans', sans-serif;
    --fonte-secundaria: 'Montserrat', sans-serif;
}

/* Indicação - Início */

div.indicacao-ocultar{
    display: none;
}

.indicacao{
    width: 100%;
    background: var(--cor-verde);
    position: relative;
}

.indicacao>div:nth-of-type(1){
    width: 90%;
    margin: 0 auto;
    color: var(--cor-branco);
    font-size: 15px;
    text-align: center;
    font-family: var(--fonte-principal);
    display: flex;
    flex-flow: row wrap;
    padding: 10px;
    justify-content: center;
    align-items: center; 
    gap: 10px;
    position: relative;
}

.indicacao p{
    margin-bottom: 0px !important;
}

.indicacao img{
    width: 30px;
}

.indicacao a{
    color: var(--cor-verde);
    font-family: var(--fonte-principal);
    padding: 5px;
    border-radius: 10px;
    background: var(--cor-branco);
    transition: all 0.2s;
    text-decoration: none !important;
}

.indicacao a:hover{
    transform: scale(1.05);
}

.indicacao .x{
    color: var(--cor-cinza-claro);
    width: 50px;
    height: 50px;
    position: absolute;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    top: 2px;
    right: 5px;
    cursor: pointer;
    transition: all 0.2s;
}

.indicacao .x:hover{
    transform: scale(1.05);
}

.indicacao .x span{
    display: inline-block;
    width: 25px;
    height: 5px;
    background: black;
    border-radius: 10px;
}

.indicacao .x span:nth-child(1){
    transform: translateY(0) rotate(45deg);
}

.indicacao .x span:nth-child(2){
    transform: translateY(-5px) rotate(-45deg);
}

@media (max-width: 530px){
    .indicacao .x{
        top: 65px;
        right: 5px;
    }
}

/* Indicação - Fim */

.card a{
    background: var(--cor-verde) !important;
    color: white !important;
    border: none !important;
    transition: .2s !important;
}

.card-body{
    display: flex !important;
    flex-flow: column nowrap !important;
    gap: 5px !important;
    justify-content: center !important;
    align-items: center !important;
    text-align: center !important;
}

.card a:hover{
    background: white !important;
    color: var(--cor-verde) !important;
}

.d-flex{
    gap: 30px !important;
}

.marginLeft{
    margin-left: 10px;
}

.imgCard{
    border-radius: 32px;
    width: 400px;
    height: 200px;
    object-fit: cover;
    margin: 15px;
}

#carteira, #deposito{
    width: 100%;
    padding: 20px 0;
}

#carteira>div, #deposito>div{
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.minha-carteira{
    color: var(--cor-branco);
    background: var(--cor-preto);
    padding: 10px;
    min-width: 400px;
    border-radius: 10px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
}

.minha-carteira>span{
    background: var(--cor-verde);
    color: var(--cor-branco);
    border-radius: 10px;
    padding: 5px 10px;
}

.minha-carteira p{
    color: #ccc;
    margin: 0 !important;
}

.minha-carteira h2{
    font-size: 50px !important;
}

.minha-carteira>div{
    display: flex;
    gap: 10px;
}

.minha-carteira>div a:nth-of-type(1){
    background: var(--cor-verde);
    color: var(--cor-preto);
    padding: 5px 10px;
    border-radius: 10px;
    text-decoration: none !important;
    transition: .3s;
}

.minha-carteira>div a:nth-of-type(2){
    background: var(--cor-branco);
    color: var(--cor-preto);
    padding: 5px 10px;
    border-radius: 10px;
    text-decoration: none !important;
    transition: .3s;
}

.minha-carteira>div a:hover{
    transform: scale(1.05);
}

.minhas-transacoes{
    background: var(--cor-preto);
    padding: 10px;
    border-radius: 10px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
}

.minhas-transacoes>h2{
    color: var(--cor-verde);
}

.minhas-transacoes>div{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.minhas-transacoes>div a{
    background: transparent;
    border: 2px solid var(--cor-verde);
    border-radius: 2px;
    padding: 5px 10px;
    color: var(--cor-verde);
    text-decoration: none !important;
    transition: .3s;
}

.minhas-transacoes>div a:hover{
    transform: scale(1.05);
}

.minhas-transacoes>div a.selecionado{
    background: var(--cor-verde);
    border: none;
    color: var(--cor-preto);
}

.minhas-transacoes>span{
    background:#4b4338;
    padding: 10px;
    color: #b98b5c;
    text-align: center;
    width: 100%;
    border-radius: 5px;
    font-weight: bold;
}

.meu-deposito{
    display: flex;
    flex-flow: column nowrap;
    gap: 20px;
    justify-content: center;
    align-items: flex-start;
    color: var(--cor-branco);
    background: var(--cor-preto);
    padding: 10px;
    border-radius: 10px;
}

.meu-deposito>p{
    margin: 0 !important;
    background: var(--cor-cinza);
    padding: 5px 10px;
    border-radius: 10px;
    width: 100%;
}

.meu-deposito>span{
    background: #862b48;
    color: var(--cor-branco);
    padding: 10px;
    border-radius: 10px;
}

.meu-deposito>div{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.meu-deposito a{
    transition: .3s;
}

.meu-deposito>div a{
    background: var(--cor-verde);
    padding: 5px 10px;
    color: var(--cor-preto);
    text-decoration: none !important;
    border-radius: 10px;
}

.meu-deposito a:hover{
    transform: scale(1.05);
}

.meu-deposito>a{
    width: 100%;
    padding: 5px 10px;
    border-radius: 10px;
    background: var(--cor-verde);
    color: var(--cor-preto);
    text-decoration: none !important;
    text-align: center;
}

@media (max-width: 445px){
    .minha-carteira{
        min-width: 0;
        width: 100%;
    }
}

