@import url('https://fonts.googleapis.com/css2?family=DM+Sans&family=Montserrat&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border-collapse: collapse;
    list-style: none;
    text-decoration: none;
}



html{
    /*font-size: 62.5%*/
}



:root{
    --cor-verde: #35a978;
    --cor-cinza: #323637;
    --cor-cinza-claro:#939798;
    --cor-branco: #fff;
    --cor-preto: black;
    --fonte-principal: 'DM Sans', sans-serif;
    --fonte-secundaria: 'Montserrat', sans-serif;
}



/* Indicação - Início */

.indicacao{
    background: var(--cor-verde);
    color: var(--cor-branco);
    font-size: 1.1rem;
    text-align: center;
    font-family: var(--fonte-principal);
    padding: 0.5rem;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.indicacao img{
    width: 3rem;
}

.indicacao a{
    color: var(--cor-verde);
    font-family: var(--fonte-principal);
    padding: 0.5rem;
    border-radius: 1rem;
    background: var(--cor-branco);
    transition: all 0.2s;
}

.indicacao a:hover{
    transform: scale(1.05);
}

/* Indicação - Fim */



.marginLeft{
    margin-left: 10px;
}


.imgCard{
    border-radius: 32px;
    width: 400px;
    height: 200px;
    object-fit: cover;
    margin: 15px;
}

